<%- include('../includes/head.ejs') %>
</head>

<body>
    <div class="container"> 
        <%- include('../includes/navigation.ejs') %>
        <div class="page-container">
            <div class="login-form-container"> 
                <h1>Kirjaudu sisään</h1>
                <% if(errorMessage) { %>
                <div class="user-message user-message-error"><%= errorMessage %></div>
                <% } %>
                <% if(successMessage) { %>
                <div class="user-message "><%= successMessage %></div>
                <% } %>
                <form method="POST" action="/login"> 
                    <div class="login-module">
                        <div class="text-field base">
                            <label for="email">Sähköpostiosoite</label>
                            <input id="email" type="text" name="email" placeholder= "" value="<%= oldInput.email %>">
                        </div>
                        <div class="text-field base">
                            <label for="password">Salasana</label>
                            <input id="password" type="password" name="password" placeholder= "" value="<%= oldInput.password %>">
                        </div>
                        <div class="search-button base">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <button class="button-green button login-button" type="submit">Kiraudu sisään</button>   
                        </div>
                        <div class="forgot-link">
                            <span>Uhnoditko salasanasi?<a href="/reset">Paina tästä</a></span><br>
                            <span>Haluatko luoda uuden tilin?<a href="/signup">Rekisteröi</a></span>
                        </div>
                    </div>
                </form>     
            </div>           
        </div>
    </div>    
    <%- include('../includes/end.ejs') %>
