<%- include('../includes/head.ejs') %>
</head>

<body>
  <div class="container">
    <%- include('../includes/navigation.ejs') %>
    <div class="page-container">
      <%- include('../includes/navigation-2.ejs') %>
        <div class="pets">
          <% if (posts.length > 0) { %>
            <% for (let p of posts) { %>
              <div class="media tile">
                <a href="/admin/saved-posts/<%= p.id %>">
                  <img class="media-image" src="img/250x250/cat1.jpg" alt="cat1">
                  <div class="media-body">
                    <p><%= p.postData.gender %></p><br>
                    <p><%= p.postData.city%></p><br>
                    <p><%= p.postData.postType%> <%= p.postData.petDate%></p>
                  </div>
                </a> 
                <form class="media-action" action="/saved-posts-delete-item" method="POST">
                  <input type="hidden" value="<%= p.postData.id %>">
                  <button class="button-green button" type="submit">Poista</button>
                </form>
              </div>
            <% } %>  
          <% } else {%>
            <h1>No post</h1>
          <% } %>
        </div> 
    </div>
  </div>
  <%- include('../includes/end.ejs') %>

        