<%- include('../includes/head.ejs') %>
</head>

<body>
  <div class="container">
    <%- include('../includes/navigation.ejs') %>
    <div class="page-container">
      <%- include('../includes/navigation-2.ejs') %>
      <div class="pets">
        <% if (posts.length > 0) { %>
          <% for (let post of posts) { %>
            <div class="media tile">
              <a href="/admin/waiting-posts/<%= post.id %>" >
                <img class="media-image" src="<%= post.images[0].imageUrl %>" alt="<%=post.title%>>">
                <div class="media-body">
                  <p><%= post.petType.name %></p><br>
                  <p><%= post.postcodeArea.name%>, <%= post.postcodeArea.cityName%></p><br>
                  <p><%= post.postType.name%> <%= post.petDate%></p>
                </div>
              </a>
              <div class="media-action">
                <a href="/admin/edit-post/<%= post.id %>?edit=true" class="button-green">Muokata</a>
                <form action="/admin/delete-post" method="POST">
                  <input type="hidden" value="<%= post.id %>" name="postId">
                  <button class="button-green" type="submit">Poista</button>
                </form>
              </div>
              
            </div>
              
            
          <% } %>
        <% } else {%>
          <h1>No post</h1>
        <% } %>
      </div>
    </div>
  </div>
  <%- include('../includes/end.ejs') %>

        