<%- include('../includes/head.ejs') %>
</head>

<body>
  <%# controllers/web -> getIndex  %>
    <div class="container">
        <%- include('../includes/navigation.ejs') %>
        <div class="page-container">
            <%- include('../includes/search-form.ejs') %>
            <div class="pets">
              <% if (posts.length > 0) { %>
                <div class="heading tile">
                    <h2>Viimeaikaiset lemmikit</h2>
                </div>
                <%# Näyttää kaikki ilmoitukset lohkona  %>
                <% for (let post of posts) { %>
                  <a href="/posts/<%= post.id %>" class="media tile">
                    <%# imageUrl from images (array ob object) that loaded with post (1 post -> n image)%>
                      <img class="media-image" src="/<%= post.images[0].imageUrl %>" alt="<%=post.title%>>">
                      
                      <div class="media-body"> 
                        <p><%= post.petType.name %></p><br>
                        <p><%= post.postcodeArea.name%>, <%= post.postcodeArea.cityName%></p><br>
                        <p><%= post.postType.name%> <%= post.petDate%></p>
                      </div>
                  </a>
                <% } %>
              <% } else {%>
                <h1>No post</h1>
              <% } %>
            </div>
            <div class="sidebar-top">
                <img src="img/sidebarad.png" alt="ad1">
            </div>  
            <div class="sidebar-bottom">
                <img src="img/sidebarad.png" alt="ad2">
            </div>  
        </div>
    </div>    
<%- include('../includes/end.ejs') %>