<%- include('../includes/head.ejs') %>
</head>

<body>
  <div class="container">
    <%- include('../includes/navigation.ejs') %>
    <div class="page-container">
      <div class="detail-container search-form">
        <div class="detail-image-container">
          <img class="detail-image" src="/<%=post.images[0].imageUrl%>" alt="<%=post.title%>">
        </div>
        <div class="detail-info">
          <div class="detail-info-heading">
            <h2><%= post.title %></h2>
          </div>
          <div class="detail-info-content">
            <div class="detail-info-1">
              <p>Ilmoitus tyyppi: <%= post.postType.name %></p>
              <p><%= post.postType.name %>: <%= post.petDate %></p>
              <p>Sukupuoli: <%= post.petGender.name %></p>
            </div>
            <div class="detail-info-2">
              <p>Ilmoitajan nimi: <%= post.member.name %></p>
              <p>Kunta: <%= post.postcodeArea.name %>, <%= post.postcodeArea.cityName %></p>
              <p>Ilmoitus jätetty: <%= post.createdAt %></p>
            </div> 
          </div> 
        </div>
        <div class="detail-content">
          <p><%= post.content %></p>
        </div>
        <div class="detail-action">
          <!-- <a href=logindetail.html><div class="message-button button button-green">Lähetä viesti ilmoitajalle</div></a>
          <form class="send-message" method="POST" action="message_success.html">
            <div class="send-message-container">
                <h3>Lähetä viesti ilmoitajalle</h3>
                <label for="name">Nimi</label>
                <div class="text-field base" ><input id="nimi" type="text" name="name"></div>
                <label for="message">Viesti</label>
                <div class="text-field base" ><textarea id="sendmessage-viesti" name="message" rows="5"></textarea></div>
                <a href=message_success.html><div class="message-button button button-green">Lähetä viesti ilmoitajalle</div></a>
            </div>
          </form> -->
        </div>
      </div>
      <div class="base pets">
                  
      </div>
      <div class="sidebar-top">
          <img src="img/sidebarad.png" alt="ad1">
      </div>  
      <div class="sidebar-bottom">
          <img src="img/sidebarad.png" alt="ad2">
      </div>  
    </div>
  </div>
  <%- include('../includes/end.ejs')%>

